@font-face {
    font-family: "Outfit";
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Young Serif";
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(330, 100%, 98%);
    color: hsl(30, 10%, 34%);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    width: 700px;
    background-color: hsl(0, 0%, 100%);
    margin: 90px 0;
    padding: 35px;
    border-radius: 20px;
}


img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

header {
    margin: 20px 0 30px;
}

header h1 {
    margin-bottom: 20px;
    font-family: "Young Serif", sans-serif;
    font-size: 38px;
    font-weight: 400;
    color: hsl(24, 5%, 18%);
}


.preparation {
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    padding: 20px;
}

.preparation h4 {
    font-size: 20px;
    color: hsl(332, 51%, 32%);
}


.prep-list {
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}

.prep-list li {
    margin-bottom: 10px;
}

.prep-list li::before {
    content: ".";
    display: inline-block;
    font-weight: bold;
    width: 1.5rem;
    margin-right: 20px;
}


.ingredients {
    margin: 20px 0;
}


h2 {
    font-family: "Young Serif", sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: hsl(14, 45%, 36%);
    margin-bottom: 20px;
}


.ingred-list {
    list-style: none;
    padding-left: 7px;   
}

.ingred-list li {
    margin-bottom: 10px;
}


.ingred-list li::before {
    content: ".";
    display: inline-block;
    font-weight: bold;
    width: 1.5rem;
    margin-right: 10px;
}


.line {
    border: none;
    height: 1px;
    width: 100%;
    background-color: hsl(30, 18%, 87%);
    border-radius: 20px;
    margin: 30px 0;
}


.instruct-list {
    list-style: none;   
}