@font-face {
    font-family: "Outfit";
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf) format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Young Serif";
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(330, 100%, 98%);
    color: hsl(30, 10%, 34%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container {
    width: 400px;
    background-color: hsl(0, 0%, 100%);
}


img {
    display: block;
    width: 100%;
}